* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('../images/fundo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

 
  form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
    background-color: #45a049;
  }

  /* Estilos da tabela */
  table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }

  td {
    background-color: white;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
  footer {
    position: fixed; /* Fixa o rodapé no final da página */
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com leve transparência */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }


  .weather-icon {
    float: right;
    margin-left: 10px;
    width: 50px;
    height: auto;
  }


  @media (max-width: 768px) {
    table, form {
      width: 90%;
    }

    input[type="text"] {
      width: 100%;
    }

    td, th {
      padding: 10px;
    }
  }